@import url('../assets/App.css');

.header-main {
    width: 100%;
    height: 100px;
    opacity: 0.9;
    position: relative;
    /* position: fixed;
    top: 0;
    left: 0;
    right: 0; */
}

.header-container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("D:\VS Code\Code\VS_Code\FrontEnd_chinh\my-app\public\background.jpg");
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    border-bottom: 1px solid white;
}

.header-logo-container {
    width: 10%;
    /* height: 100%; */
    margin: 0 30px;
    display: flex;
    text-align: center;
    align-items: center;
}

.header-logo {
    width: 80%;
    height: 30%;
    display: flex;
    text-align: center;
    align-items: center;
    border: 1px solid white;

}

.header-logo img {
    width: 60%;
    margin: 0 auto;
    border: 1px solid white;
    border-radius: 50%;
}

.header-content {
    width: 82%;
    height: 100%;
    display: flex;
    /* flex-direction: column; */
    position: relative;
    align-items: center;
    justify-content: center;
}

ul {
    list-style-type: none;
}

.nav-top {
    height: 35%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.col2 {
    width: 50%;
    height: 100%;
    margin-top: 10px;
}

.col2 ul>li {
    display: inline-block;
    /* animation: onn 1.5s; */
}

.nav-top-left {
    padding: 0 40px;
}

.nav-log {
    width: 50%;
    position: absolute;
    right: 0;
    margin-right: 30px;
}

.nav-log li {
    width: 22%;
    height: 25px;
    color: white;
    border: 1px solid white;
    border-radius: 13px;
    position: absolute;

}

.nav-log .log {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(1);
    transition: transform 0.3s;
    /* margin: 0 20px; */
}

.nav-log .log:hover {
    background-color: rgb(153, 150, 150);
    cursor: pointer;
    transform: scale(1.1);
}

.nav-log .log button {
    width: 100%;
    height: 100%;
    border: 1px solid white;
    border-radius: 13px;
}

/* .nav-log .log button:hover {
    transform: scale(1.1);
} */

.nav-log .sign-up {
    right: 0;
}

.nav-log .sign-in {
    right: 26%;
}

.nav-log>li a {
    color: white;
}

.nav-bottom {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
}

.nav-main {
    margin: 15%;
}

.header-content .nav-bottom ul>li a {
    color: white;
    padding: 10px 20px;
    font-size: 1.5rem;
    line-height: 3rem;
}

.header-content .nav-bottom ul>li:first-child {
    /* border: 1px solid white; */
    /* border-radius: 13px; */
}

.header-content .nav-bottom ul>li a:hover {
    border: 1px solid white;
    border-radius: 13px;
    animation: onn 1.5s;
}


@keyframes onn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.nav-bottom ul>li {
    display: inline-block;
}

.nav-bottom ul>li i {
    color: white;
}